
{% extends 'visitor/base.html' %}

{% load crispy_forms_tags %}


{% block content %}





<!-- BREADCRUMB -->
<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color:#222222; font-size:15px;">
    <li class="breadcrumb-item"><a href="{% url 'market:market_home' %}">FREESHOP Online Supermarket</a></li>
    <li class="breadcrumb-item active" aria-current="page" style="color:#FFFFFF;">About</li>
  </ol>
</nav> -->

<div class="row my-5" style="color:#030303; height:400px;">
  <div class="col-md-12">
    <h3>WELCOME TO ABOUT PAGE</h3>

    <br><br>



  </div>
</div>



{% endblock %}
