

{% extends 'visitor/base.html' %}

{% load crispy_forms_tags %}


{% block content %}





<!-- BREADCRUMB -->
<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color:#222222; font-size:15px;">
    <li class="breadcrumb-item"><a href="{% url 'market:market_home' %}">FREESHOP Online Supermarket</a></li>
    <li class="breadcrumb-item active" aria-current="page" style="color:#FFFFFF;">Contact</li>
  </ol>
</nav> -->




<!-- ALERT FOR MESSAGES -->
{% include 'visitor/messages.html' %}





<div class="container p-3 my-3"><h1>WELCOME TO CONTACT PAGE</h1></div>

{% endblock %}
