{% extends 'visitor/base.html' %}

{% block content %}


<div class="row my-5">

    <div class="col-md-2">
        &nbsp;
    </div>
    
    
    <div class="col-md-8" style="color:black; height:500px;">
        <h3 style="margin-bottom:20px; font-weight: bold;">Check your Mail</h3>
          <span style="font-size:19px;">
            Instructions for setting your new password has been sent to your email address.
            <br>
            You should receive the email shortly. Please check the mailbox of the provided email address!
          </span>  
    </div>


        <div class="col-md-2">
            &nbsp;
        </div>
        

    </div>


{% endblock %}



